!/nodejs/express/modules/node_modules/default_func
!/nodejs/express/modules/node_modules/modules

/nodejs/express/modules/node_modules/jade
/nodejs/express/modules/node_modules/express

/nodejs/express/app1/node_modules
/nodejs/express/app2/node_modules

/nodejs/express/app2/lib-cov
/nodejs/express/app2/coverage.html
.idea

node_modules