head
	title #{self.title}
	script(src='/common/jquery/jquery-1.8.3.min.js')
	script(src='/common/history.js/bundled/html5/jquery.history.js')
	script(src='/main.js')
	script(src='/runtime.min.js')
	script(src='/templates')