//
   Created with JetBrains WebStorm.
   User: jo
   Date: 13.06.13
   Time: 16:00
   To change this template use File | Settings | File Templates.

extends ./content

block index
    h1 Hello!
    img(src='img/cat.jpg')