//
   Created with JetBrains WebStorm.
   User: jo
   Date: 14.06.13
   Time: 13:46
   To change this template use File | Settings | File Templates.

extends ./content

block index
    h1 Show user
        !{userId}