//
   Created with JetBrains WebStorm.
   User: jo
   Date: 13.06.13
   Time: 16:08
   To change this template use File | Settings | File Templates.

!!! 5
html
    head
        title Main
    body
        h1 Layout MAIN
        #content
            block content