//
   Created with JetBrains WebStorm.
   User: jo
   Date: 13.06.13
   Time: 16:05
   To change this template use File | Settings | File Templates.


h1 Admins

a(href=list) Show user list

img(src='img/cat.jpg')

a(href='api/') api